button.btnComprar {
  background-color: #a1a1a1;
}

button.btnComprar:hover {
  background-color: #494949;
}

div.itemlistContainer {
  
  margin-top: 60px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

div.itemList {
  box-shadow: 0 4px 25px rgba(152, 154, 155, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;

  h3 {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 18px;
  }
  p {
    margin-bottom: 5px;
  }
  div.Talle {
    margin-bottom: 5px;
  }
  p.precio {
    font-weight: 700;
    font-size: large;
  }
  button.btnComprar {
    margin-top: 5px;
    margin-bottom: 15px;
  }

  img {
    height: 450px;
    max-width: 100%;
    cursor: pointer;
    transition: 1s;
    width: auto;
  }
  img:hover {
    transform: scale(1.1);
  }
  div.detailsContainer {
    margin-bottom: 10px;
  }
  div.itemDetail {
    background-color: bisque;
    padding-top: 10px;
  }
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root{
color: black!important;
}
